@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.mono{
    font-family: 'IBM Plex Mono', monospace;
}
nav{
    width: 1116px;
    margin: 20px auto 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}
.mob-nav{
    display: none;
}
.search-bar{
    width: 100%;
    max-width: 265px;
    background-color: #DAD6E1;
    color: #181226;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.search-bar input{
    background: transparent;
    outline: none;
    border: none;
}
.search-bar button{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #5F4B8B;
}
.nav-list .list-link{
    text-decoration: none;
    color: #181226;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
}
.nav-dot{
    list-style: none;
}
li::marker{
    font-size: 10px;
    text-align: center !important;
    text-align-last: center !important;
}
.nav-list .list-link::after{
    content: '';
    display: block;
    background-color: #181226;
    height: 3px;
    width: 0%;
    transition: all .9s;
}
.nav-list .list-link:hover::after{
    width: 100%;
}
#check{
    display: none;
    font-size: 30px;
}
.hero{
    width: 1116px;
    margin: 0px auto 30px;
}
.hero-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    color: #181226;
    margin-bottom: 11px;
}
.hero-title span{
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
}
.startup{
    border-top: 1px solid rgba(0, 0, 0, .08);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 60px;
}
.startup-flex{
    width: 832px;
}
.startup-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #181226;
    margin-bottom: 30px;
}
.startup-text{
    margin-bottom: 60px;
}
.startup-text-para{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #4E485B;
    margin-bottom: 15px;
}
.startup-text-title{
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #181226;
}
.startup-flex-list{
    width: 310px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.startup-ul{
    list-style-position: inside;
    margin-left: 10px;
}
.list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 10px;
    color: #181226;
}
.startup-points{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 1px;
    color: #4E485B;
}
.startup-points::marker{
    font-size: 12px;
}
.startup-order-list{
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    color: #5F4B8B;
    margin-bottom: 15px;
    list-style-position: inside;
}
.startup-order-list::marker{
    font-size: 22px;
    color: black;
}
.start-ol-ul{
    list-style-position: inside;
    margin-left: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #181226  ;
}
.ol-ul-li::marker{
    color: black;
    font-size: 16px;
}
.steps{
    width: 1116px;
    margin: 0px auto 140px;
}
.first-steps{
    width: 832px;
    margin-right: auto;
    border-top: 1px solid rgba(0, 0, 0, .08);
    padding-top: 30px;
}
.first-step-text{
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #181226;
    margin-bottom: 20px;
}
.first-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #181226;
    margin-bottom: 20px;
}
.network-code{
    background: #F8F4FF;
    border-radius: 3px;
    padding: 20px;
    font-size: 16px;
    line-height: 120%;
    color: #57389C;
    margin-bottom: 20px;
}
.copyright{
    width: 1116px;
    margin: 0px auto 74px;
    text-align: center;
}
.copy-text{
    font-weight: 400;
    font-size: 16px;
    color: #181226;
    line-height: 130%;
    margin-bottom: 5px;
}
.copy-para{
    font-weight: 400;
    font-size: 16px;
    color: #181226;
    margin-bottom: 20px;
    line-height: 130%;
}
.copy-para b{
    color: #5F4B8B;
}
.copy-link{
    background-color: #F8F4FF;
    text-decoration: none;
    border-radius: 3px;
    color: #5F4B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding: 5px 10px;
}

@media screen and (max-width:499px) {
    nav{
        width: 100%;
        padding: 0px 20px 20px;
        margin-bottom: 30px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .nav-menu{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .mob-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    #search-check{
        display: none;
    }
    .search-icon{
        font-size: 18px;
        cursor: pointer;
        color: #5F4B8B;
    }
    .search-box input{
        width: 100%;
        background-color: #DAD6E1;
        color: #181226;
        outline: none;
        border: 2px solid #181226;
        border-radius: 6px;
        padding: 5px;
    }
    .search-box{
        position: absolute;
        top: -100px;
        left: 25%;
        transition: .9s;
    }
    #search-check:checked ~ .search-box{
        top: 65px;
    }
    .mob-nav-menu{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        background-color: rgba(84, 91, 154, 0.89);
        flex-wrap: wrap;
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 95px;
        left: -100%;
        transition: all .9s;
        padding: 30px;
        gap: 23px;
    }
    #check:checked ~ .mob-nav-menu{
        left: 0;
    }
    .nav-list .list-link{
        font-size: 20px;
        color: aliceblue;
    }
    .nav-list .list-link::after{
        background-color: aliceblue;
    }
    .nav-list{
        list-style: none;
    }
    .fa-bars{
        font-size: 30px;
        color: #5F4B8B;
        cursor: pointer;
    }
    .hero{
        width: 100%;
        padding: 0px 20px;
    }
    .startup{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .startup-text{
        margin-bottom: 30px;
    }
    .startup-title{
        font-size: 28px;
    }
    .startup-text-para{
        font-size: 14px;
    }
    .startup-text-title{
        font-size: 18px;
        line-height: 25px;
    }
    .startup-flex{
        width: 100%;
    }
    .startup-order-list{
        font-size: 18px;
    }
    .startup-order-list::marker{
        font-size: 18px;
    }
    .start-ol-ul{
        font-size: 16px;
    }
    .ol-ul-li{
        margin-bottom: 5px;
    }
    .startup-flex-list{
        width: 100%;
    }
    .steps{
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 50px;
    }
    .first-steps{
        width: 100%;
    }
    .first-step-text{
        font-size: 22px;
    }
    .first-para{
        font-size: 16px;
    }
    .network-code{
        padding: 15px;
    }
    .copyright{
        width: 100%;
        padding: 0px 20px;
    }
    .copy-text{
        font-size: 14px;
    }
    .copy-para{
        font-size: 14px;
    }
}